.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.list-item-container-container {
	width: 80vw;
	border: 1px solid black;
	border-radius: 10px;
	margin-inline: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.header-container {
	width: 80vw;
	display: inline-grid;
	grid-template-columns: 8fr 2fr 2fr 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
  padding-inline: 25px;
	box-sizing: border-box;

}

.add-item-container {
	width: 80vw;
	display: inline-grid;
	grid-template-columns: 8fr 2fr 2fr 1fr 1fr 1fr;
	justify-items: center;
  align-items: center;
  margin-inline: auto;
}

.list-item-container {
	width: 100%;
  background-color: antiquewhite;
	border-radius: inherit;
	min-height: 4.2em;
	display: inline-grid;
	box-sizing: border-box;
	grid-template-columns: 8fr 2fr 2fr 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
	padding-inline: 25px;
}

.item {
	font-size: medium;
	font-weight: 100;
	text-align: left;
}

.btn {
	border-radius: 10px;
	border: none;
	text-align: center;
	text-justify: center;
	padding-inline: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
}

.btn-delete {
	background-color: red;
}
.btn-update {
	background-color: chartreuse;
}
.btn-submit {
	background-color: lightskyblue;
}

.date {
	font-weight: 100;
  margin: .83em;
}

.label {
	display: none;
}

.checkbox {
	margin: .83em;
}

.input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid black;
}
.add-item-input {
  font-size: medium;
	font-weight: 100;
	text-align: center;
	width: 80%;
	margin: .83em;
}
.item-input {
	font-size: medium;
	font-weight: 100;
	text-align: center;
	width: 80%;
	margin: .83em;
}

.date-input {
	margin: .83em;
}


.header {
	font-weight: bold;
	font-size: small;
	display: inline;
	padding: 5px;
}

@media only screen and (max-width: 1000px) {
  .add-item-input {
    grid-column-start: 1;
		grid-column-end: 3;
  }
  .add-item-container {
    display: grid;
		grid-template-columns: none;
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr 1fr;
  }
	.list-item-container {
		display: grid;
		grid-template-columns: none;
		grid-template-rows: auto 1fr;
		grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
	}
	.item {
		font-size: large;
    grid-column-start: 1;
		grid-column-end: 6;
	}

	.label {
		display: inline;
		font-size: small;
		font-weight: bold;
		margin: 10px;
	}

	.item-input {
		grid-column-start: 1;
		grid-column-end: 6;
	}

	.header {
		display: none;
	}
}
